{{ if .BlogAuthor }}
    <span class="author">{{ _ "Author: %[1]s" .BlogAuthor /* creator of this blog post */ }}</span>
{{ else }}
    <span class="author">{{ _ "Author: %[1]s" (_ "Anonymous") /* creator of this blog post */ }}</span>
{{ end }}
{{ if or .Created .Updated }}
    <div class="datestamps">
        {{ if and .Created .Updated (ne (.Created.Unix) 0) }}
            <span class="created">{{ _ "Created: %[1]s" (.Created.Format "2006-01-02") /* date that this page was created */ }}</span>
            {{ if not (cmpDateFmt "20060102" .Created .Updated) }}
                &nbsp;
                <span class="updated">{{ _ "Updated: %[1]s" (.Updated.Format "2006-01-02") /* date that this page was last updated */ }}</span>
            {{ end }}
        {{ else if and .Created (ne (.Created.Unix) 0) }}
            <span class="created">{{ _ "Created: %[1]s" (.Created.Format "2006-01-02") /* date that this page was created */ }}</span>
        {{ else if .Updated }}
            <span class="updated">{{ _ "Updated: %[1]s" (.Updated.Format "2006-01-02") /* date that this page was last updated */ }}</span>
        {{ end }}
    </div>
{{ end }}
{{ if and .SitePermalinkable .Permalinked }}
    <a class="permalink"
       href="{{ _permalink .Permalink }}">{{ _ "Permanent Link" /* permanent link to this page */ }}</a>
{{ end }}
{{ if .WordCount }}
    <span class="word-count">{{ .CountedWords }}</span>
    <span class="word-count">{{ _ "%[1]d words" .WordCount }}</span>
    {{ if .ReadingTime }}
        <span class="reading-time">{{ .ReadingMinutes }}</span>
    {{ end }}
{{ end }}
