<footer>
    <div class="page-column">
        {{- if .SiteMenu.PrimaryFooterMenu -}}
            <nav id="primary--footer">
                <ul>
                    {{- range $item := .SiteMenu.PrimaryFooterMenu -}}
                        <li>
                            {{- template "partials/menu-link.tmpl" $item -}}
                            {{- if $item.SubMenu -}}
                                <ul>
                                    {{- range $sub_item := $item.SubMenu -}}
                                        <li>
                                            {{- template "partials/menu-link.tmpl" $sub_item -}}
                                        </li>
                                    {{- end -}}
                                </ul>
                            {{- end -}}
                        </li>
                    {{- end -}}
                </ul>
            </nav>
        {{- end -}}
        <nav id="secondary--footer">
            {{- if .SiteMenu.SecondaryFooterMenu -}}
                <ul>
                    {{- range $item := .SiteMenu.SecondaryFooterMenu -}}
                        <li>
                            {{- template "partials/menu-link.tmpl" $item -}}
                            {{- if $item.SubMenu -}}
                                <ul>
                                    {{- range $sub_item := $item.SubMenu -}}
                                        <li>
                                            {{- template "partials/menu-link.tmpl" $sub_item -}}
                                        </li>
                                    {{- end -}}
                                </ul>
                            {{- end -}}
                        </li>
                    {{- end -}}
                </ul>
            {{- end -}}
            {{- if or .Copyright .CopyrightNotice -}}
                <div id="copyright">
                    {{- if .CopyrightNotice -}}
                        {{- if .CopyrightName -}}
                            <span class="name d--mobile--sm--block d--mobile--lg--inline-block">{{- .CopyrightName -}}</span>
                            <span class="d--mobile--lg--inline-block">—</span>
                        {{- end -}}
                        <span class="notice d--mobile--sm--block d--mobile--lg--inline-block">{{- .CopyrightNotice -}}</span>
                    {{- else -}}
                        <span class="notice d--mobile--sm--block d--mobile--lg--inline-block">{{- .Copyright -}}</span>
                    {{- end -}}
                </div>
            {{- end -}}
            {{- if .Theme.Authors }}
                {{ range $author := .Theme.Authors }}
                    <div class="center" style="font-size:xx-small;">
                        {{ if $author.Homepage }}
                        <a href="{{ $author.Homepage }}" target="_blank">
                            {{- end -}}
                            <span>(Site theme by: {{- if $author.Name }} {{ $author.Name }}{{ else if $author.Homepage }} {{ $author.Homepage }}{{- end -}})</span>
                            {{- if $author.Homepage }}
                        </a>
                        {{- end -}}
                    </div>
                {{- end -}}
            {{- end -}}
        </nav>

        <noscript>
            <p class="center">JavaScript is disabled. Nice, well done. No worries, this site likes it that way!</p>
        </noscript>
    </div>
</footer>
<a href="#top" class="jump-to anchor">
    <div class="jump-to top">
        <span class="sr-only">back to top</span>
    </div>
</a>