{{{

  "created": null,
  "description": "An example of Go-Enjin query page types",
  "layout": "defaults",
  "permalink": null,
  "query": {
    "-pages": "((.Language == \"en\") AND (.Url == m!^/pages/!)) ORDER BY .Title DSC",
    "blocks": "((.Language == \"en\") AND (.Url == m!^/blocks/!)) ORDER BY .Title DSC"
  },
  "sitemap-change-freq": "never",
  "sitemap-ignored": false,
  "sitemap-priority": 0.5,
  "things": [
    "this is one thing",
    "this is another thing",
    "this is something else",
    "lorem ipsum is not translatable"
  ],
  "thumbnail-alt": null,
  "thumbnail-url": null,
  "title": "Query Page Type",
  "type": "query",
  "updated": null

}}}
[

    {
        "type": "header",
        "tag": "main-header",
        "profile": "outer--inner",
        "padding": "top",
        "margins": "bottom",
        "content": {
            "header": [
                "Page Query Type"
            ]
        }
    },

    {
        "type": "content",
        "tag": "introduction",
        "profile": "outer--inner",
        "padding": "both",
        "margins": "both",
        "jump-top": "true",
        "jump-link": "true",
        "content": {
            "header": [
                "Introduction"
            ],
            "section": [
                {
                    "type": "p",
                    "text": [
                        "The following list is generated with just the custom page context variables."
                    ]
                },
                {
                    "type": "ul",
                    "list": [
                        {{ range $idx,$thing := .Things }}
                            {{- if ne $idx 0 }},{{ end }}
                            "{{ $thing }}"
                        {{- end }}
                    ]
                }
            ]
        }
    },

    {
        "type": "content",
        "tag": "blocks",
        "profile": "outer--inner",
        "padding": "both",
        "margins": "both",
        "jump-top": "true",
        "jump-link": "true",
        "content": {
            "header": [
                "Blocks"
            ],
            "section": [
                {
                    "type": "p",
                    "text": [
                        "The following list is generated with the page <code>.QueryResults.Blocks</code>."
                    ]
                },
                {
                    "type": "ul",
                    "list": [
                            {{ range $idx,$page := .QueryResults.Blocks }}
                        {{ if gt $idx 0 }},{{ end }}{ "type": "a", "href": "{{ __ $page.Language $page.Url }}", "text": "{{ $page.Title }}" }
                            {{ end }}
                    ]
                }
            ]
        }
    },

    {
        "type": "content",
        "tag": "pages",
        "profile": "outer--inner",
        "padding": "both",
        "margins": "both",
        "jump-top": "true",
        "jump-link": "true",
        "content": {
            "header": [
                "Pages"
            ],
            "section": [
                {
                    "type": "p",
                    "text": [
                        "The following list is generated with the page <code>.QueryResults.Pages</code>."
                    ]
                },
                {
                    "type": "ul",
                    "list": [
                            {{ range $idx,$page := .QueryResults.Pages }}
                        {{ if gt $idx 0 }},{{ end }}{ "type": "a", "href": "{{ __ $page.Language $page.Url }}", "text": "{{ $page.Title }}" }
                            {{ end }}
                    ]
                }
            ]
        }
    }
]
