New {{ .SiteName }} email passcode
-------------------{{ repeatString "-" (len .SiteName) }}

Enter the following passcode into the authentication form:

{{ centerString .Token 70 }}

The passcode will expire the first time it is used or until another
is requested, whichever happens first.

{{ repeatString "-" 70 }}

                           ....ooooooo...
           oO0OOo    .ooOOO0000.......0000OOOoo.     oOOOo.
          .O.OOOOooO0...........................OOo.o00O..o
           oOOo.oOOOOOOO0....................0OOOOOOo..oOO.
            .oOO.......0OOO................OOOO0......OOO.
           o..::::::::::::0oO............OoO.::::::::::::.O
         .O.::::::::::::::::oO..........Oo.::::::::::..Oo.:0.
         O:::::::::::::::::::oO........0o.::::::::::.... o::..
        o.:00O.O:::::::::::::Oo........Oo.:::::::::::.OOO::::o
        o.:o.. .:::::::::::::Oo........oo.:::::::::::::::::::o
        ...:OOO.:::::::::::::oO.OOOOO0.Oo..::::::::::::::::::o
         O.:::::::::::::::::Oo.o..oo.oO.oo.:::::::::::::::::O
          o..:::::::::::::.oO0ooooooO0OoOoo.:::::::::::::::O
         .ooO..::::::::.0OoO..oO0OOO0..oo.OoOO.::::::::::.O.
         .0.OOOOOOOOOOOOO0...OoooOoOO.OO....OOoOOOO000OOOO0o
         .....00OOOO00..........oOO.Oo.........00OOOOOO0...o
        .oOOO0..................0OOOO...................0OOo
        O:..0OOOOOOO000.......................000OOOOOOO0...o
        o0..::::....0OOOOOOOOOO000.00OOOOOOOOOOO00....:::..O.
      o0oO.0OOO0....:::::......00OoOO0......::::.....00OO0.Oo0o.
    o..:O.:::.....00OOO0....::::.o.o.:.::...00OO0O0.....:::Oo::.O
   O::.:OO:...:::::::.....0OO0O0o...o0OOOOO0.....oO..::...:Oo..::0.
  .OOOOO.O:...........::::::...0O..o00....:::.OO0.O0oO:...:0.oOOOOo
  oOOOOOoo::.................::.O.o..::::..:.o.:. o::Oo:..:O.oOoOOo
   .OO000Oo.:...................o.o.0:.....:.o:..OOo:.o:.:OoO000Oo
     ooOOOO.:...................o.o.O:.....::Oo.O::o...:.:OoOOoo.
         o::...................0.oo.o:....:.OoOOOOOO0OoO..:0
         o.....................O.oo.o.......0.::...:::.0.....